# Web Framework
fastapi==0.115.6
uvicorn==0.32.1
python-multipart==0.0.17

# Inference Engine (CPU Optimized)
ultralytics==8.3.49
onnxruntime==1.24.4
numpy==2.4.2

# Image Processing
rembg==2.0.75
pillow==12.1.1
opencv-python-headless==4.10.0.84

# Core ML (Specify CPU to save 2GB of space)
torch==2.11.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.26.0 --index-url https://download.pytorch.org/whl/cpu

